
.ExtraPanelHeader {

    width:100%;
    cursor:grab;

    .PanelIcon {

    }

    .PanelName {

    }

    .PanelCloseButton {

    }

}

.animatedIcon {
    transition: transform 0.3s ease;
}

.expandedRotation {
    transform: rotate(90deg);
}

.fullScreenRotation {
    transform: rotate(-90deg);
}
