
.ExtraPanelHeader {
    width:100%;
    cursor:grab;
}

.collapsed {
    border-bottom-left-radius: var(--panelRadius);
    border-bottom-right-radius: var(--panelRadius);
}

.animatedIcon {
    transition: transform 0.3s ease;
}

.expandedRotation {
    transform: rotate(90deg);
}

.fullScreenRotation {
    transform: rotate(-90deg);
}
